alembic==1.7.7
babel==2.9.0
python-dateutil==2.6.0
flask-moment==0.11.0
flask-wtf==0.14.3
flask_sqlalchemy==2.4.4
Flask-WTF==0.14.3
Jinja2==3.0.3
Mako==1.2.0
MarkupSafe==2.1.1
psycopg2==2.9.3
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==1.4.36
SQLAlchemy-Utils==0.38.2
Werkzeug==2.0.3
WTForms==3.0.1
WTForms-Alchemy==0.18.0
WTForms-Components==0.10.5
phonenumbers==8.12.49