{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
<div class="row">
    <ol>
        <h4 class='monospace'> Top 10 Recently Listed Artist</h4>
        {%for artist in recent_artists %}
            <a href='/artists/{{artist.id}}'><li>{{artist.name}}</li></a>
		{% endfor %}
    </ol>
    
     <ol>
        <h4 class='monospace'> Top 10 Recently Listed Venues</h4>
        {%for venue in recent_venues %}
            <a href='/venues/{{venue.id}}'><li>{{venue.name}}</li></a>
		{% endfor %}
    </ol>
</div>
{% endblock %}